body {
    margin: 0px;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: fixed url(../img/scott-webb-aHhhdKUP77M-unsplash.jpg);
}

body::-webkit-scrollbar {
    width: 0;
}

.drop-down {
    height: 50vh;
    width: 50vw;
    position: fixed;
    top: -100vh;
    left: 0;
    box-shadow: -15px 10px 10px -10px rgba(0, 0, 0, 0.5);
    z-index: 9;
    transition: ease-out 0.3s;
    display: flex;
}

.spread_item {
    display: flex;
    color: #f1f1f1;
    background: #1b1b1b;
    font-weight: bold;
    font-size: 30px;
    transition: ease-out 0.2s;
    font-family: 'Courier New', Courier, monospace;
}

.spread_item:hover {
    background: #00000073;
}

.drop_button {
    max-width: 90px;
    height: auto;
    z-index: 20;
    position: fixed;
    top: 20px;
    left: 25px;
    cursor: pointer;
    transition: ease-out 0.3s;
}

.grid_wrapper {
    display: grid;
    grid-template-areas: 
    "he" 
    "se" 
    "fo";
    grid-template-columns: 100vw;
    grid-template-rows: 100px auto 300px;
}

.grid_wrapper>*, .main>* {
    display: flex;
    flex-direction: column;
}

.gallery_img {
    margin-bottom: 8vh;
    box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
    transition: ease-in-out 0.33s;
    filter: grayscale(100%);
}

.gallery_img:hover {
    transform: scale(1.05);
    filter: none;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    padding: 5vw;
}

#gallery_article {
    width: 28vw;
    height: fit-content

}

#gallery_article_topdiv {
    width: 38vw;
}

#qrdiv {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr {
    width: 20vw;
}

.header {
    grid-area: he;
    background-color: #F1F1F1;
    color: #1b1b1b;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    width: 100vw;
    box-shadow: -15px 10px 15px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    font-family: 'Courier New', Courier, monospace;
}

.subtitle {
    font-style: oblique;
}

.main {
    grid-area: se;
    justify-content: flex-start;
    align-items: center;
}

.article {
    text-align: left;
    width: 100vw;
    max-height: fit-content;
    color: #3B3B6B;
    background-color: #f1f1f1e1;
    justify-content: center;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4)
}

#blurredcomputer {
    width: 85vw;
    height: auto;
    filter: hue-rotate(80deg);
    box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4)
}

.prime_article {
    width: 100vw;
}

.underline {
    text-decoration: underline;
}

.topdiv {
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 0;
    margin-left: -5vw;
    width: 90vw;
    height: 10vh;
    background-color: #1b1b1b;
    color: #f1f1f1;
}

.footer {
    grid-area: fo;
    height: 300px;
    display: flex;
    color: #f1f1f1;
    text-align: center;
    padding-top: 2vh;
    font-size: 12px;
    z-index: 7;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: dashed  #f1f1f118 2px;
}

.indent {
    grid-area: fo;
    border-top: 0 solid #1b1b1b;
    border-left: 0 solid #1b1b1b; 
    border-bottom: 0 solid #1b1b1b;
    border-right: 0 solid #1b1b1b;
    border-top-width: 60px;
    border-left-width: 50vw;
    border-right-width: 50vw;
    border-bottom-width: 40vh;
    border-top-color: transparent;
}

a {
    text-decoration: none;
}

a:active {
    color: white;
}

.hyperlink {
    color: blue;
    font-style: italic;
}

#workaround {
    display: none;
}

li {
    margin-bottom: 5vh;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
}

#mailbox, ul {
    list-style: none;
}

#mapbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30vh;
    text-align: center;
}

#map {
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
    height: 50vh;
    width: 75vw;
    padding-left: 3.1vw;
    filter: grayscale(100%);
    z-index: 8;
}

.footer_text {
    font-size: 30px;
}

/*----- TOGGLE-KLASSER -----*/

.show {
    top: 50px;
}

.rotate {
    transform: rotate(-180deg);
}

.prime_article.fade {
    opacity: 1;
}

.main_title.title_fade {
    opacity: 1;
}

.visible {
    display: block;
}

/*--------------------------------- RESPONSIVITET ------------------------------*/

/*----- MOBILE -----*/

@media screen and (min-width:1px) {
    .header {
        top: 0;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
        align-items: center;
        padding-left: 0;
    }
    .header_logo {
        max-height: 70px;
        margin: 10px;
        transition: 1s ease-in;
    }
    .main_title {
        font-size: 10vh;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 48vh;
        color: #F1F1F1;
        opacity: 0;
        transition: ease-in 1s;
        margin-left: 10vw;
    }
    .subtitle {
        font-size: 50px;
        margin-top: -13vh;
    }
    #homeMain {
        margin: 0;
    }
    .main {
        margin: 0;
    }
    .drop-down {
        padding-top: 30px;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
        margin-left: 10px;
    }

    .drop_button {
    height: auto;
    }

    .spread_item {
        display: flex;
        width: 50vw;
        height: 10vh;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.4vw;
    }

    .spread_item:hover {
        background: #f1f1f1;
        color: #D24848;
    }

    .article {
        width: 85vw;
        margin-bottom: 40vh;
    }
    .prime_article {
        font-size: 3.3vw;
        text-align: left;
        max-height: fit-content;
        color: #F1F1F1;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        padding: 20px;
        padding-bottom: 5vh;
        padding-left: 50px;
        box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
        margin-bottom: 10vh;
        opacity: 0;
        transition: ease-out 1s;
    }

    .topdiv {
        margin-left: -5vw;
        width: 95vw;
        font-size: 30px;
    }

    .filler_text {
        font-size: 30px;
    }

    #idebaset {
        max-width: 100%;
        box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
    }

    #gallery_prime {
        margin-bottom: 2vh;
    }

    #poster {
        height: 80vh;
    }

    #code {
        width: 80vw;
    }

    #discussion {
        width: 80vw;
    }

    #printer {
        width: 80vw;
    }

    h3 {
        font-size: 30px;
    }
}

/*----- DESKTOP -----*/

@media screen and (min-width: 1024px) {
    .grid_wrapper {
        display: grid;
        grid-template-areas: 
        "he" 
        "na" 
        "se" 
        "fo";
        grid-template-rows: 100px 50px auto 300px;
    }
    .drop-down {
        grid-area: na;
        top: 0;
        width: 100vw;
        height: 50px;
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        z-index: 11;
        padding-top: 0;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
        margin: 0;
    }
    .spread_item {
        width: 20vw;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .drop_button {
        display: none;
    }
    .header {
        top: 50px;
        align-items: flex-start;
        padding-left: 5vw;
    }
    .header_logo {
        max-height: 80px;
        margin: 10px;
    }
    .main_title {
        font-size: 20vh;
        font-family: 'Courier New', Courier, monospace;
        margin-top: -30vh;
        margin-bottom: 35vh;
        color: #F1F1F1;
        opacity: 0;
        transition: ease-in 1s;
        margin-left: 0;
    }
    .subtitle {
        font-size: 60px;
        margin-top: -20vh;
        transition: ease-in 1s;
    }
    #header_HEM {
        display: none;
    }
    .article {
        width: 80vw;
        font-size: 35px;
    }

    .topdiv {
        width: 90vw;
        font-size: 3vw;
    }

    .filler_text {
        font-size: 30px;
    }

    #blurredcomputer {
        width: 90vw;
        margin-left: -5vw;
    }
    .prime_article {
        font-size: 3.3vw;
        text-align: left;
        max-height: fit-content;
        color: #F1F1F1;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        padding: 20px;
        padding-bottom: 5vh;
        padding-left: 10vw;
        box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
        margin-bottom: 35vh;
        opacity: 0;
        transition: ease-out 1s;
    }

    #idebaset {
        max-width: 50%;
    }

    #poster {
        height: 80vh;
    }

    #code {
        height: 80vh;
        width: 60vw;
    }

    #discussion {
        width: 90vw;
    }

    #printer {
        height: 60vh;
        width: auto;
    }


}


/*--------------------------------------------- ADDITIONAL GRID (komplettering) ---------------------------------------------*/

#additional_grid_wrapper {
    display: grid;
    grid-template-areas: 
    "se1 se1 se1 se1 se1 as"
    "a1 a2 se2 se2 se2 as"
    "a3 a4 se2 se2 se2 as"
    "se3 se3 se3 se3 a5 as"
    "fo1 fo1 fo1 fo1 fo1 fo1"
    ;
    grid-template-rows: repeat(5, 1fr) auto;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
    gap: 20px;
}

.add_section1 {
    grid-area: se1;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    padding: 20px;
    padding-bottom: 5vh;
    padding-left: 5vw;
    box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
    color: #F1F1F1;
    font-size: 3.3vw;
    text-align: left;
}

.add_section2 {
    grid-area: se2;
    background-color: rgb(18, 114, 82);

}

.add_section3 {
    grid-area: se3;
    background-color: #F1F1F1;

}

.add_aside {
    grid-area: as;
    background-color: #F1F1F1;

}

.add_smallArticle1 {
    grid-area: a1; 
    background-color: rgb(65, 76, 173);

}

.add_smallArticle2 {
    grid-area: a2; 
    overflow: hidden;
    
}

#chairs {
    height: 50%;
}

.add_smallArticle3 {
    grid-area: a3; 
    background-color: rgb(16, 110, 153);

}

.add_smallArticle4 {
    grid-area: a4; 
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: -15px 0px 30px 5px rgba(0, 0, 0, 0.4);
    color: #F1F1F1;
    padding: 30px;


}

.add_bigArticle {
    grid-area: a5; 
    background-color: darkcyan;

}

.add_footer {
    grid-area: fo1;
    height: 300px;
    display: flex;
    color: #f1f1f1;
    text-align: center;
    padding-top: 2vh;
    font-size: 12px;
    z-index: 7;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: dashed  #f1f1f118 2px;
    padding: 0px;
}

.add_indent {
    grid-area: fo1;
    border-top: 0 solid #1b1b1b;
    border-left: 0 solid #1b1b1b; 
    border-bottom: 0 solid #1b1b1b;
    border-right: 0 solid #1b1b1b;
    border-top-width: 60px;
    border-left-width: 50vw;
    border-right-width: 50vw;
    border-bottom-width: 40vh;
    border-top-color: transparent;
    padding: 0px;
}